
.container > .e-con-inner{
  
  padding-right: 15px  !important;
  padding-left: 15px !important;
}


@media (min-width: 576px) {

  .container  .e-con-inner  {
      max-width: 540px !important;
  }

}

@media (min-width: 768px) {

  .container  .e-con-inner  {
      max-width: 720px !important;
  }

}


@media (min-width: 992px) {

  .container .e-con-inner  {
      max-width: 960px !important;
  }

}

@media (min-width: 1200px) {

  .container  .e-con-inner  {
      max-width: 1140px !important;
  }

}





@media (min-width: 1400px) {

  .container  .e-con-inner  {
      max-width: 1350px !important;
  }

}










.pb-80 {
  padding-bottom: 80px;
}
body.elementor-editor-active header {
  display: none;
}

.postbox-more-thumb img {
  object-fit: cover;
}

.postbox-list ul {
  padding-left: 0 !important;
}

.postbox-list ul li i {
  top: auto !important;
}

.postbox-thumb {
  padding: 0 !important;
}

.postbox-thumb img {
  border-radius: 10px;
}

.postbox-comment-user .comment-reply-link {
  position: absolute;
  top: 25%;
  right: 40px;
  padding: 9px 31px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-block;
  background-color: #01103d;
  color: var(--it-common-white);
}
.postbox-comment-user .comment-reply-link:hover {
  color: var(--it-common-white);
  background-color: var(--it-theme-1);
}

.postbox-comment-content ul.children {
  padding-left: 75px;
}

header .it-header-area {
  padding: 27px 0;
}

body.active_menu_class header .it-header-area {
  padding: 0;
}

.it-header-menu > nav > ul > li.last_menu_item > .submenu {
    left: auto;
    right: 0;
}
